[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group spring4demo
	owner = group user/chopin131810
[access "refs/for/refs/*"]
	read = group spring4demo
	read = group user/chopin131810
	push = group spring4demo
	push = group user/chopin131810
	label-Code-Review = -2..+2 group spring4demo
	label-Code-Review = -2..+2 group user/chopin131810
	label-Verified = -1..+1 group spring4demo
	label-Verified = -1..+1 group user/chopin131810
	rebase = group spring4demo
	rebase = group user/chopin131810
	removeReviewer = group spring4demo
	removeReviewer = group user/chopin131810
	submit = group spring4demo
	submit = group user/chopin131810
[access "refs/heads/*"]
	read = group spring4demo
	read = group user/chopin131810
	create = group spring4demo
	create = group user/chopin131810
	push = +force group spring4demo
	push = +force group user/chopin131810
	pushMerge = group spring4demo
	pushMerge = group user/chopin131810
[access "refs/tags/*"]
	push = +force group spring4demo
	push = +force group user/chopin131810
	pushTag = group spring4demo
	pushTag = group user/chopin131810
	pushSignedTag = group spring4demo
	pushSignedTag = group user/chopin131810
