[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/chopin131810
[access "refs/for/refs/*"]
	read = group user/chopin131810
	push = group user/chopin131810
	label-Code-Review = -2..+2 group user/chopin131810
	label-Verified = -1..+1 group user/chopin131810
	rebase = group user/chopin131810
	removeReviewer = group user/chopin131810
	submit = group user/chopin131810
[access "refs/heads/*"]
	read = group user/chopin131810
	create = group user/chopin131810
	push = +force group user/chopin131810
	pushMerge = group user/chopin131810
[access "refs/tags/*"]
	push = +force group user/chopin131810
	pushTag = group user/chopin131810
	pushSignedTag = group user/chopin131810
